* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: myFont;
    src: url('JuliusSansOneAmended.ttf')
}

body {
    font-family: myFont;
    font-size: 20px;
}

#main-div {
    height: 100vh;
}


.status {
    list-style-type: none;
    padding: 25px;
    color: #f2f2f2;
}

#status {
    opacity: 1;
}

#current {
    font-size: 15px;
}

#status-detail {
    font-weight: bold;
}